button {
    width: 5%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
}

button:hover {
    background-color: #555e7d;
}

button:focus {
    outline: none;
}